.container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.minHeight {
  min-height: 75vh;
}

.start {
  justify-content: flex-start;
  gap: 1em;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}
